
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2 class="display-4">CRUD Lauro Filho</h2>
    <hr class="my-4">
    <h3>Este projeto foi criado afim de cumprir o desafio do processo seletivo da SESAB.</h3><br />
    <p>Para a string de conexão utilizar = <strong>name="CrudDBEntities1"</strong></p>
    <p><strong>Decrição:</strong>&nbsp;Sistema desenvolvido em C# asp.NET MVC 5, e ultiliza o banco de dados SQL Server.</p>
    <p><strong>Ferramentas:</strong> Visual Studio 2017,&nbsp;SQL Server Management Studio (SSMS) 2017.</p>
    <p>Tambem foram ultilizados o Bootstrap 4 e o datatables,</p>
</div>

